---
const sitemap = [
  {
    label: "Team",
  },
  {
    label: "Branding",
  },
  {
    label: "Support",
  },
  {
    label: "Donate",
  },
  {
    label: "Connect",
  },
];
const socials = [
  {
    label: "Twitter",
    color: "#1DA1F2",
  },
  {
    label: "Reddit",
    color: "#FF4500",
  },
  {
    label: "Discord",
    color: "#5865F2",
  },
  {
    label: "Github",
    color: "#FFFFFF",
  },
  {
    label: "YouTube",
    color: "#FF0000",
  },
];
---

<footer class="fixed bottom-0 w-full text-white">
  <div
    class="m-auto flex h-full w-full max-w-screen-md justify-between gap-8 p-8"
  >
    <!-- disclaimer -->
    <div class="flex flex-col justify-between">
      <div
        class="h-12 w-36 bg-[url('/logo.svg')] bg-contain bg-center bg-no-repeat"
      >
      </div>
      <div class="my-8 text-neutral-500">
        The VueTube project and its contents are not affiliated with, funded,
        authorized, endorsed by, or in any way associated with YouTube, Google
        LLC or any of its affiliates and subsidiaries.
      </div>
      <div class="text-xs">
        Copyleft © 2077 VueTube™, Inc. <br /> Some rights reserved.
      </div>
    </div>

    <div class="flex w-full flex-col justify-end gap-8 pt-2 md:flex-row">
      <!-- links -->
      <div class="flex flex-col text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Sitemap.</b> -->
        {
          sitemap.map((item, index) => (
            <a
              class="cursor-pointer pb-1 duration-300 hover:translate-x-1 hover:text-white md:pb-2 md:text-xl"
              href={item.href}
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}
            >
              {item.label}
            </a>
          ))
        }
      </div>

      <!-- socials -->
      <div class="flex flex-col text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Socials.</b> -->
        {
          socials.map((item, index) => (
            <a
              class={`cursor-pointer pb-1 duration-300 hover:translate-x-1 hover:text-[${item.color}]`}
              href={item.href}
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}
            >
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
