---
const sitemap = [
  {
    label: "Team",
    external: true,
    href: "https://github.com/orgs/VueTubeApp/people",
  },
  {
    label: "Branding",
    external: true,
    href: "https://github.com/VueTubeApp/VueTube-Branding",
  },
  {
    label: "Support",
    href: "/discord",
    external: true,
  },
  {
    label: "Donate",
    external: true,
    href: "https://ko-fi.com/vuetube",
  },
];
const socials = [
  {
    label: "Twitter",
    color: "#1DA1F2",
    href: "https://twitter.com/VueTubeApp",
    external: true,
  },
  {
    label: "Reddit",
    color: "#FF4500",
    href: "https://www.reddit.com/r/VueTube/",
    external: true,
  },
  {
    label: "Discord",
    color: "#5865F2",
    href: "/discord",
    external: true,
  },
  {
    label: "Github",
    color: "#FFFFFF",
    href: "https://github.com/VueTubeApp",
    external: true,
  },
  {
    label: "YouTube",
    color: "#FF0000",
    href: "https://www.youtube.com/VueTubeApp",
    external: true,
  },
];

export interface Props {
  fixed: boolean;
  classes?: string[];
}

const { fixed, classes } = Astro.props;
---

<footer
  id="footer"
  class:list={[
    "w-full text-white h-[25rem] md:h-[19rem]",
    fixed ? "fixed bottom-0" : "",
    classes,
  ]}
>
  <div
    class="m-auto flex h-full w-full max-w-screen-md justify-between gap-8 p-8"
  >
    <!-- disclaimer -->
    <div class="flex flex-col justify-between">
      <div
        class="h-12 w-36 bg-[url('/logo.svg')] bg-contain bg-center bg-no-repeat"
      >
      </div>
      <div class="my-8 text-neutral-500">
        The VueTube project and its contents are not affiliated with, funded,
        authorized, endorsed by, or in any way associated with YouTube, Google
        LLC or any of its affiliates and subsidiaries.
      </div>
      <div class="text-xs">
        Copyleft © 2023 VueTube. <br /> Some rights reserved.
      </div>
    </div>

    <div class="flex w-full flex-col justify-end gap-8 pt-2 md:flex-row">
      <!-- links -->
      <div class="flex flex-col text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Sitemap.</b> -->
        {
          sitemap.map((item, index) => (
            <a
              class="cursor-pointer pb-2 duration-300 hover:translate-x-1 hover:text-white md:pb-3 md:text-xl"
              href={item.href}
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}
            >
              {item.label}
            </a>
          ))
        }
      </div>

      <!-- socials -->
      <div class="flex flex-col text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Socials.</b> -->
        {
          socials.map((item, _) => (
            <a
              class={`cursor-pointer pb-1 duration-300 hover:translate-x-1 hover:text-[${item.color}]`}
              href={item.href}
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}
            >
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
